/* global */
*{
  box-sizing: border-box;
}

body {
  background: url("background.jpg");
  background-size: cover;
  padding-bottom: 26%;
  padding-top: 1%;
  margin: 0;
}

html {
  font-size: 17px;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: #ff3366;
  font-weight: bolder;
  text-decoration: none;
}

#header-01{
  text-align: center;
  font: 35px "Times New Roman";
  color: #ff3366;
  margin-top: 6%;
}

/* List.html */

.container {
  margin: 0 5% 5%;
  padding: 20px;
}

.table_head {
  display: flex;
  margin-top: 10px;
}

.table_head div {
  padding: 5px;
  margin: 3px;
  background-color: gray;
  font-weight: bold;
}

.table_head .id {
  flex: 3%;
  text-align: center;
}

.table_head .full_name {
  flex: 15%;
  text-align: center;
}

.table_head .grade {
  flex: 10%;
  text-align: center;
}

.table_head .birth {
  flex: 5%;
  text-align: center;
}

.table_head .gender {
  flex: 2%;
  text-align: center;
}

.table_head .address {
  flex: 15%;
  text-align: center;
}

.table_head .achievement {
  flex: 15%;
  text-align: center;
}

.table_head .profile {
  flex: 3%;
  text-align: center;
}

/* Table body */
.table_row {
  display: flex;
}

.table_row div {
  padding: 5px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.7);
}

.table_row .id {
  flex: 3%;
  text-align: center;
}

.table_row .full_name {
  flex: 15%;
}

.table_row .grade {
  flex: 10%;
  text-align: center;
}

.table_row .birth {
  flex: 5%;
  text-align: center;
}

.table_row .gender {
  flex: 2%;
  text-align: center;
}

.table_row .address {
  flex: 15%;
  text-align: center;
}

.table_row .achievement {
  flex: 15%;
  text-align: center;
}

.table_row .profile {
  flex: 3%;
  text-align: center;
}

.profile_submit {
  color: #ff3366;
  border: transparent;
  background: transparent;
  cursor: pointer;
}