/* global */
*{
    box-sizing: border-box;
}

body {
    background: url("background.jpg");
    background-size: cover;
    padding-bottom: 26%;
    padding-top: 1%;
    margin: 0;
}

html {
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
}

a {
    color: #ff3366;
    font-weight: bolder;
    text-decoration: none;
}

#header-01{
    text-align: center;
    font: 35px "Times New Roman";
    color: #ff3366;
    margin-top: 6%;
}

.container {
    margin: 0 5% 5%;
    padding: 20px;
}

/*#####################################################*/
/* Post.html */

#create_forum_button {
    background: #ff3366;
    font-size: 20px;
    display: flex;
    float: right;
    margin-right: 80px;
}

.table_head {
    display: flex;
    margin-top: 10px;
}

.table_head div {
    padding: 5px;
    margin: 3px;
    background-color: gray;
    font-weight: bold;
}

.table_head .status {
    flex: 5%;
    text-align: center;
}

.table_head .subjects {
    flex: 70%;
}

.table_head .replies {
    flex: 10%;
}

.table_head .last_reply {
    flex: 15%;
}

.topic_submit {
    background: transparent;
    font-size: 20px;
    color: #ff3366;
    border: transparent;
    font-weight: bolder;
    margin-left: -5px;
    cursor: pointer;
}

.user_submit {
    background: transparent;
    font-size: 15px;
    color: #ff3366;
    border: transparent;
    font-weight: bolder;
    margin-left: -5px;
    cursor: pointer;
}

/* Table body */
.table_row {
    display: flex;
}

.table_row .status, .table_row .subjects, .table_row .replies, .table_row .last_reply {
    padding: 5px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.7);
}

.table_row .status {
    flex: 5%;
    font-size: 40px;
    text-align: center;
    padding-top: 13px;
}

.table_row .subjects {
    flex: 70%;
}

.table_row .replies {
    flex: 10%;
}

.table_row .last_reply {
    flex: 15%;
}

/*####################################################*/
/* Detail.html */

.head {
    display: flex;
    background-color: gray;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors {
    flex: 20%
}

.content {
    flex: 80%;
}

.body {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username {
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.comment_area {
    margin-top: 50px;
}

.comment_area textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment_area input {
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment_area input:hover {
    border: solid 1px rgba(0, 0, 0, 0.7);
}

.comments_container {
    margin-top: 15px;

}

/* Create.html */
.forum_properties {
    font-size: 40px;
    color: #ff3366;
    margin-top: 20px;
}

.text_box {
    font-size: 30px;
    margin-top: 20px;
}

#first_question {
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

#first_topic {
    width: 50%;
    margin-top: 20px;
}

#question_title {
    margin-top: 20px;
}

#forum_create_submit {
    font-size: 40px;
    margin-top: 40px;
    background: #ff3366;
    width: 15%;
    height: 90px;
    float: right;
}