body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(background.jpg);
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

#toolbar_canvas {
    position: absolute;
    width: 100%;
    height: 11%;
    top: 3.8%;
}

#home_page_image {
    position: absolute;
    top: 2.5%;
    left: 5%;
    width: 15%;
    height: 10%;
}

.header {
    position: absolute;
    top: 10%;
    left: 25%;
    float: left;
    font: 35px "Times New Roman";
    color: #ff3366;
}

#sign_up_button {
    position: absolute;
    top: 3.8%;
    left: 82%;
    width: 6.25%;
    height: 7.6%;
    font: 20px Arial;
    color: white;
    border: 0;
}

#log_in_button {
    position: absolute;
    top: 3.8%;
    left: 88.4%;
    width: 6.25%;
    height: 7.6%;
    font: 20px Arial;
    color: white;
}

.slider {
    width: 100%;
    height: 73%;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 30%;
}

.slides {
    width: 20%;
    height: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 500%;
    transition: 1s;
}

.slide img{
    width: 1920px;
    height: 100%;
}

.navigation_manual {
    position: absolute;
    width: 100%;
    margin-top: -2.8%;
    display: flex;
    justify-content: center;
}

.manual_btn {
    border: 3px solid #ff3366;
    padding: 0.54%;
    border-radius: 100%;
    cursor: pointer;
    transition: 1s;
}

.manual_btn:not(:last-child) {
    margin-right: 4%;
}

.manual_btn:hover {
    background: #ff3366;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -500%;
}

#radio3:checked ~ .first {
    margin-left: -1000%;
}

#radio4:checked ~ .first {
    margin-left: -1500%;
}

.navigation_auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 44.05%;
}

.navigation_auto div {
    border: 3px solid #ff3366;
    padding: 0.54%;
    border-radius: 100%;
    transition: 1s;
}

.navigation_auto div:not(:last-child) {
    margin-right: 4%;
}

#radio1:checked ~ .navigation_auto .auto_btn_1 {
    background: #ff3366;
}

#radio2:checked ~ .navigation_auto .auto_btn_2 {
    background: #ff3366;
}

#radio3:checked ~ .navigation_auto .auto_btn_3 {
    background: #ff3366;
}

#radio4:checked ~ .navigation_auto .auto_btn_4 {
    background: #ff3366;
}